<section class="min-h-screen text-white py-20 flex items-center">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-semibold mb-8">Get in Touch</h2>
    <p class="text-xl mb-6">Feel free to reach out through the links below or via email.</p>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-12 mx-4">

      <div class="shadow-none hover:shadow-[0_4px_15px_rgba(255,255,255,0.5)] transition-shadow duration-300 p-6 border border-white rounded-lg">
        <div class="flex items-center justify-center mb-4">
          <div class="w-20 h-20 bg-white rounded-full flex items-center justify-center">
            <img ngSrc="contacts/github.svg" width="48" height="48" alt="GitHub Logo">
          </div>
        </div>
        <h3 class="text-xl font-semibold mb-4">GitHub</h3>
        <p class="mb-4">Check out my work on GitHub.</p>
        <a [href]="githubLink" class="text-blue-500 hover:underline">Visit GitHub Profile</a>
      </div>

      <div class="shadow-none hover:shadow-[0_4px_15px_rgba(255,255,255,0.5)] transition-shadow duration-300 contact-area p-6 border border-white rounded-lg">
        <div class="flex items-center justify-center mb-4">
          <div class="w-20 h-20 bg-white rounded-full flex items-center justify-center">
            <img ngSrc="contacts/linkedin.svg" width="48" height="48" alt="LinkedIn Logo">
          </div>
        </div>
        <h3 class="text-xl font-semibold mb-4">LinkedIn</h3>
        <p class="mb-4">Connect with me professionally on LinkedIn.</p>
        <a [href]="linkedinLink" class="text-blue-500 hover:underline">Connect on LinkedIn</a>
      </div>

      <div class="shadow-none hover:shadow-[0_4px_15px_rgba(255,255,255,0.5)] transition-shadow duration-300 contact-area p-6 border border-white rounded-lg">
        <div class="flex items-center justify-center mb-4">
          <div class="w-20 h-20 bg-white rounded-full flex items-center justify-center">
            <img ngSrc="contacts/mail.svg" width="48" height="48" alt="Email Icon">
          </div>
        </div>
        <h3 class="text-xl font-semibold mb-4">Email</h3>
        <p class="mb-4">Send me an email for inquiries or collaborations.</p>
        <div class="flex items-center justify-center space-x-2">
          <a (click)="copyEmail()" class="text-blue-500 hover:underline">{{ emailText }}</a>
        </div>
      </div>

    </div>
  </div>
</section>
