<div class="bg-black text-white min-h-screen mt-25">
  <div class="container mx-auto py-8 px-6">

    <!-- Hero Section -->
    <section class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center mb-12">
      <div>
        <h1 class="text-4xl font-extrabold mb-4">Hi, I'm Matheus Viana</h1>
        <p class="text-xl leading-relaxed">
          A passionate software developer exploring diverse technologies. My focus areas include web development, system administration, and automation. I enjoy building robust and scalable solutions.
        </p>
      </div>

      <div class="flex justify-center">
        <img ngSrc="about/profile_pic.jpg" width="350" height="250" alt="Profile picture"
             class="rounded-full object-cover object-center w-64 h-64 md:w-80 md:h-80 lg:w-96 lg:h-96 xl:w-[30rem] xl:h-[30rem] shadow-lg border-4 border-white transition-transform duration-300 transform hover:scale-105 hover:-translate-y-1 hover:brightness-110"
             style="aspect-ratio: 1/1;">
      </div>
    </section>

    <div class="shadow-none hover:shadow-[0_4px_15px_rgba(255,255,255,0.5)] transition-shadow duration-300 border-2 border-white bg-black rounded-2xl py-4 px-6 mb-8 max-w-md lg:max-w-lg xl:max-w-xl mx-auto shadow-lg">
      <blockquote class="text-white italic text-xl leading-relaxed">
        "Mathematics is an endless invitation to intellectual courage: each problem solved opens doors to even greater questions."
      </blockquote>
      <div class="mt-4 text-right">
        <cite class="text-sky-400 font-bold text-lg block"><a href="https://en.wikipedia.org/wiki/Emmy_Noether" target="_blank" rel="noopener noreferrer">Emmy Noether</a></cite>
        <span class="text-gray-400 text-sm">Mathematician and Physicist</span>
      </div>
    </div>
    <section class="mb-12">
      <h2 class="text-3xl font-semibold mb-6">About Me</h2>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <div>
          <div class="mb-4 p-6 bg-gray-900 rounded-lg shadow-md border border-gray-700 hover:border-sky-500 transition-colors duration-300">
            <h3 class="text-xl font-semibold mb-2 flex items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 3v1.5M4.5 8.25H3m18 0h-1.5M4.5 12H3m18 0h-1.5m-15 3.75H3m18 0h-1.5M8.25 19.5V21M12 3v1.5m0 15V21m3.75-18v1.5m0 15V21m-9-1.5h10.5a2.25 2.25 0 0 0 2.25-2.25V6.75a2.25 2.25 0 0 0-2.25-2.25H6.75A2.25 2.25 0 0 0 4.5 6.75v10.5a2.25 2.25 0 0 0 2.25 2.25Zm.75-12h9v9h-9v-9Z" />
              </svg>
              Early Tech Journey</h3>
            <p class="leading-relaxed">
              My journey into tech started with <span class="font-semibold text-sky-300">electronics in high school</span>, where I <span class="font-semibold text-sky-300">became an electronics technician</span> while honing problem-solving skills by building various solutions. This experience sparked my interest in programming.</p>
          </div>
        </div>

        <div>
          <div class="mb-4 p-6 bg-gray-900 rounded-lg shadow-md border border-gray-700 hover:border-sky-500 transition-colors duration-300">
            <h3 class="text-xl font-semibold mb-2 flex items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
              </svg>
              Linux Enthusiast</h3>
            <p class="leading-relaxed">
              <span class="font-semibold text-sky-300">Linux, particularly Fedora</span>, is my OS of choice. I love tinkering with the kernel and customization, stemming from my electronics background. The vast ecosystem of open-source tools <span class="font-semibold text-sky-300">allows me to explore diverse project possibilities</span>.            </p>
          </div>
        </div>

        <div>
          <div class="mb-4 p-6 bg-gray-900 rounded-lg shadow-md border border-gray-700 hover:border-sky-500 transition-colors duration-300">
            <h3 class="text-xl font-semibold mb-2 flex items-center gap-2 ">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5" />
              </svg>
              Quick Learner & Organized</h3>
            <p class="leading-relaxed">
              I pride myself on being a <span class="font-semibold text-sky-300">quick learner</span>, always seeking up-to-date documentation. <span class="font-semibold text-sky-300">Organization is key</span>, even in personal projects, using Git for version control.
            </p>
          </div>
        </div>

        <div>
          <div class="mb-4 p-6 bg-gray-900 rounded-lg shadow-md border border-gray-700 hover:border-sky-500 transition-colors duration-300">
            <h3 class="text-xl font-semibold mb-2 flex items-center gap-2"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
            </svg>
              Notes & Automation</h3>
            <p class="leading-relaxed">
              I love writing notes in <span class="font-semibold text-sky-300">markdown and LaTeX</span>, using Hugo for my university notes. I automate repetitive tasks with <span class="font-semibold text-sky-300">bash or python</span> scripts.
            </p>
          </div>
        </div>

        <div>
          <div class="mb-4 p-6 bg-gray-900 rounded-lg shadow-md border border-gray-700 hover:border-sky-500 transition-colors duration-300">
            <h3 class="text-xl font-semibold mb-2 flex items-center gap-2"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12a7.5 7.5 0 0 0 15 0m-15 0a7.5 7.5 0 1 1 15 0m-15 0H3m16.5 0H21m-1.5 0H12m-8.457 3.077 1.41-.513m14.095-5.13 1.41-.513M5.106 17.785l1.15-.964m11.49-9.642 1.149-.964M7.501 19.795l.75-1.3m7.5-12.99.75-1.3m-6.063 16.658.26-1.477m2.605-14.772.26-1.477m0 17.726-.26-1.477M10.698 4.614l-.26-1.477M16.5 19.794l-.75-1.299M7.5 4.205 12 12m6.894 5.785-1.149-.964M6.256 7.178l-1.15-.964m15.352 8.864-1.41-.513M4.954 9.435l-1.41-.514M12.002 12l-3.75 6.495" />
            </svg>
              Rust & C Languages</h3>
            <p class="leading-relaxed">
              <span class="font-semibold text-sky-300">Rust</span> is special to me for its low-level and high-level integration, safety, and maintainability.  <span class="font-semibold text-sky-300">C</span> is valued for efficiency and low-level access, enabling performance-critical code.
            </p>
          </div>
        </div>

        <div>
          <div class="mb-4 p-6 bg-gray-900 rounded-lg shadow-md border border-gray-700 hover:border-sky-500 transition-colors duration-300">
            <h3 class="text-xl font-semibold mb-2 flex items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m9 9 10.5-3m0 6.553v3.75a2.25 2.25 0 0 1-1.632 2.163l-1.32.377a1.803 1.803 0 1 1-.99-3.467l2.31-.66a2.25 2.25 0 0 0 1.632-2.163Zm0 0V2.25L9 5.25v10.303m0 0v3.75a2.25 2.25 0 0 1-1.632 2.163l-1.32.377a1.803 1.803 0 0 1-.99-3.467l2.31-.66A2.25 2.25 0 0 0 9 15.553Z" />
              </svg>
              Music & Literature</h3>
            <p class="leading-relaxed">
              Beyond the screen, I love <span class="font-semibold text-sky-300">music and literature</span>. I listen to a vast array of music, especially Gorillaz and Twenty One Pilots. I thrive on learning and listening to new people.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-12">
      <div>
        <h2 class="text-2xl font-semibold mb-4 flex items-center">Likes:</h2>

        <ul class="list-none pl-0">
          <li class="mb-2 flex items-center">
            <svg class="h-5 w-5 mr-2 text-sky-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            Elegant code solutions
          </li>
          <li class="mb-2 flex items-center">
            <svg class="h-5 w-5 mr-2 text-sky-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            Functional programming paradigms
          </li>
          <li class="mb-2 flex items-center">
            <svg class="h-5 w-5 mr-2 text-sky-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            Efficient data structures
          </li>
          <li class="mb-2 flex items-center">
            <svg class="h-5 w-5 mr-2 text-sky-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            Automation of repetitive tasks
          </li>
          <li class="mb-2 flex items-center">
            <svg class="h-5 w-5 mr-2 text-sky-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            Continuous learning
          </li>
        </ul>
      </div>
      <div>
        <h2 class="text-2xl font-semibold mb-4 flex items-center">Dislikes:</h2>
        <ul class="list-none pl-0">
          <li class="mb-2 flex items-center">
            <svg class="h-5 w-5 mr-2 text-sky-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
            Code duplication
          </li>
          <li class="mb-2 flex items-center">
            <svg class="h-5 w-5 mr-2 text-sky-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
            Unnecessary complexity
          </li>
          <li class="mb-2 flex items-center">
            <svg class="h-5 w-5 mr-2 text-sky-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
            Poorly documented systems
          </li>
          <li class="mb-2 flex items-center">
            <svg class="h-5 w-5 mr-2 text-sky-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
            Redundant and repetitive tasks
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
