<div class="bg-black text-white min-h-screen mt-25">
  <div class="container mx-auto py-8 px-6">

    <!-- Hero Section -->
    <section class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center mb-12">
      <div>
        <h1 class="text-4xl font-extrabold mb-4">Hi, I'm Matheus Viana</h1>
        <p class="text-xl leading-relaxed">
          A passionate software developer exploring diverse technologies. My focus areas include web development, system administration, and automation. I enjoy building robust and scalable solutions.
        </p>
      </div>

      <div class="flex justify-center">
        <img ngSrc="about/profile-pic.png" width="350" height="250" alt="Profile picture"
             class="rounded-full object-cover object-center w-64 h-64 md:w-80 md:h-80 lg:w-96 lg:h-96 xl:w-[30rem] xl:h-[30rem] shadow-lg border-4 border-white transition-transform duration-300 transform hover:scale-105 hover:-translate-y-1 hover:brightness-110"
             style="aspect-ratio: 1/1;">
      </div>
    </section>

    <div class="border-2 border-white bg-black rounded-2xl py-4 px-6 mb-8 max-w-md lg:max-w-lg xl:max-w-xl mx-auto shadow-lg">
      <blockquote class="text-white italic text-xl leading-relaxed">
        "Mathematics is an endless invitation to intellectual courage: each problem solved opens doors to even greater questions."
      </blockquote>
      <div class="mt-4 text-right">
        <cite class="text-sky-400 font-bold text-lg block">Emmy Noether</cite>
        <span class="text-gray-400 text-sm">Mathematician and Physicist</span>
      </div>
    </div>

    <section class="mb-12">
      <h2 class="text-3xl font-semibold mb-4">About Me</h2>
      <div class="leading-relaxed">
        <p class="mb-4">
          My journey into tech started with electronics in high school, where I honed problem-solving skills building various solutions. This experience sparked a deeper interest in programming, leading me to pursue a career in software development. The power and elegance of code resonated deeply within me.
        </p>

        <p class="mb-4">
          Linux, particularly Fedora, is my operating system of choice, I love the tinkering with the kernel and making my setup fully customizable. This is an intrest i had since my electronic background. The vast accessibility of free and open-source tools on Linux allows me to be more ambitious and innovative with my projects.
        </p>

        <p class="mb-4">
          I pride myself on being a quick learner. I always look for the most up-to-date documentation to properly use tools and learn their concepts.
        </p>

        <p class="mb-4">
          Organization is key, even in my personal projects. I always version my code and learning with git, keeping the development of new features organized and accessible. And I can always be at ease if i mess something up and need to go back.
        </p>

        <p class="mb-4">
          I love writing my study notes in markdown and LaTeX (which I'm currently mastering). I've got a another website with my university notes kept organized in hugo. i belive that making a complex setup in programming can be helped by using scripts for automating repetitive tasks, which i usually program in bash or python.
        </p>

        <p class="mb-4">
          Rust holds a special place in my heart because of its seamless integration with low-level systems and high-level applications. The language's static typing and robust memory management empower me to craft safe and easily maintainable programs, whether it's a backend web application or a simple system automation script.
        </p>

        <p class="mb-4">
          C is also part of my language toolset, valued for its efficiency and low-level system access that empowers me to write performance-critical code. Its minimalist design and manual memory management grant the flexibility to fine-tune system resources, even though this requires disciplined handling. The language's enduring simplicity and widespread adoption make it a cornerstone for building robust and high-performance solutions.
        </p>

        <p class="mb-4">
          Beyond the screen, I'm passionate about music and literature. I listen to a vast array of music, especially Gorillaz and Twenty One Pilots. I thrive on learning new things, and love listening to new people, which leads me to acquire knowledge and experience.
        </p>
      </div>
    </section>


    <section class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-12">
      <div>
        <h2 class="text-2xl font-semibold mb-2">Likes:</h2>
        <ul class="list-disc list-inside leading-relaxed">
          <li>Elegant code solutions</li>
          <li>Functional programming paradigms</li>
          <li>Efficient data structures</li>
          <li>Automation of repetitive tasks</li>
          <li>Continuous learning</li>
        </ul>
      </div>
      <div>
        <h2 class="text-2xl font-semibold mb-2">Dislikes:</h2>
        <ul class="list-disc list-inside leading-relaxed">
          <li>Code duplication</li>
          <li>Unnecessary complexity</li>
          <li>Poorly documented systems</li>
          <li>Redundant and repetitive tasks</li>
        </ul>
      </div>
    </section>
  </div>
</div>
