<div class="max-w-sm bg-black rounded-lg shadow-lg overflow-hidden hover:shadow-2xl transition-shadow duration-300 border border-white">
  <div class="relative w-full h-48">
    <img [ngSrc]="imagePath" alt="{{ name }} screenshot" fill class="absolute inset-0 w-full h-full object-cover" />
  </div>
  <div class="p-4">
    <h2 class="text-xl font-semibold text-white">{{ name }}</h2>
    <p class="mt-2 text-white opacity-75">{{ brief }}</p>
    <button (click)="readMore()" class="mt-4 inline-block bg-white hover:bg-opacity-90 text-black font-medium py-2 px-4 rounded">
      Read More
    </button>
  </div>
</div>

@if (isReadingMore) {
  <div class="overlay">
    <div class="zoomed-card bg-black rounded-lg p-6 w-full mx-4 relative border border-white overflow-hidden">
      <button (click)="readLess()" class="absolute top-2 right-2 text-white hover:text-gray-300">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
      <div class="grid md:grid-cols-[2fr_1fr] gap-6 items-center">
        <div class="relative w-full max-w-lg mx-auto">
          <img
            [ngSrc]="imagePath"
            [width]="800"
            [height]="600"
            alt="{{ name }} screenshot"
            class="w-full h-auto object-cover rounded-lg"
          />
        </div>
        <div class="">
          <h2 class="text-3xl font-bold text-white">{{ name }}</h2>
          <p class="mt-2 text-white opacity-75 break-words">{{ brief }}</p>
          <p class="mt-4 text-white opacity-75 break-words text-justify">{{ description }}</p>
          <a [href]="relevantLink" target="_blank" rel="noopener noreferrer" class="mt-6 inline-block bg-white hover:bg-opacity-90 text-black font-medium py-2 px-4 rounded">
            Visit Project
          </a>
        </div>
      </div>
    </div>
  </div>
}
